body{
display: flex;
margin: 0;
}

.left{
    position: relative;
    display: flex;
}

#image{
    width: auto;
    height: 100vh;
}

#labelbody{
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 2em;
    font-family: roboto;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon{
    width: auto;
    height: 10vh;
    fill: white;
}

.attributionBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    bottom: 3vh;
    text-align: center;
    align-items: center;
    width: 100%;
}

.attributionBox a{
    color: white;
}







.right{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.header,.footer{
    background-color: #f8f8ff;
    height: 30vh;
    width: 100%;
}

.header,.footer,.middle{
    padding-left: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.middle{
    display: flex;
    flex-direction: column;
    height: 40vh;
    box-shadow: 1px 1px;
}

#form{
    display: flex;
    flex-direction: column;

}

form{
    display: flex;
    flex-direction: column;
}

.formContainer{
    display: flex;

}